.container {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

mat-form-field {
    width: 100%;
    padding-bottom: 10px;
}

.buttons-form {
    display: flex;
    justify-content: space-around;
}

#salvar {
    background-color: green;
    color: honeydew;
}

mat-progress-spinner {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    margin-left: 47%;
    margin-right: 47%;
    width: 100vw;
    height: 100vh;
    margin-top: 10%;
}