<mat-toolbar class="header mat-elevation-z4">
    <span class="title-group">
        <mat-icon>manage_accounts</mat-icon>
        <span style="padding-left: 10px;">GERENCIAMENTO DE ESTOQUE</span>
        
    </span>

    <div class="buttons-menu">
        <button (click)="navegar(1)" mat-raised-button color="primary">
            Home
        </button>
        <button (click)="navegar(2)" mat-raised-button color="primary">
            Adicionar um Produto
        </button>
        <button (click)="navegar(5)" mat-raised-button color="accent">
            Relatórios
        </button>
    </div>
</mat-toolbar>
